<!DOCTYPE html lang>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <title>Reggie Jones - Learning HTML</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
    <main>
    <img class="profile" src="{{ url_for('static', filename='appengine.png') }}" alt="Reggie's Profile Picture">
    <h1>Python Flask App</h1>
    <p>
        Hello my name is Reggie. This app was deployed using Google App Engine!
    </p>
    <p>
        With Google App Engine developers can build monolithic server-side rendered websites. App Engine supports popular development languages with a range of developer tools.


    </p>
</main>

</body>
